* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: bold 20px Roboto, arial, helvetica;;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

article {
    font-size: 0.7em;
    height: 40%;
    width: 90%;
    max-width: 700px;
    transition: 0.3s;
    margin: 0rem 0rem;
    padding: 0rem 1rem 0rem 1rem;
    align-items: flex-start;
    background-color: #eeeeee;
    box-shadow: 0px 1px 5px #f3f3f3;
}

.box1 {
    padding-top: 1rem;
}

.header-links {
    margin-right: 0.5rem;
    padding: 0;
}

.blog {
    color: #1b998b;
}

.home-logo, .copyright {
    display: flex;
    justify-self: flex-start;
    margin: 0 0.8rem;
    color: #f9dc5c;
}

header, footer{
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em; 
    background-image: linear-gradient(-45deg, #f9dc5c, #1b998b);
}

a {
    text-decoration: none;
    color: black;
    padding: 0 0.3em;
    transition: 0.3s;
}

a:hover {
    color: #3185fc;
}

section, .return {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    background-color: white;
}

footer {
    margin-top: auto;
}

li {
    margin: 0 1rem
}

.copyright {
    font-size: 0.7em;
    background-color: none;
    color: black;
}

nav {
    padding-right: 0.3rem;
    padding-top: 0.3em;
}

img, .gifs {
    max-width: 100%;
    height: auto;
    padding: 1rem
}

p, .demoreel {
    padding: 1rem ;
}
.demoreel {
    text-decoration: underline;
}


@media only screen and (min-width: 401px) and (max-width: 960px) {
    p, article {
        font-size: 1em;
        max-width: 500px;
        margin: 0rem 1rem;
        padding: 0rem 2rem 0rem 2rem;
    }
    img {
        max-width: 10rem;
        float: left;
        padding: 0.5rem;
    }
    p {
        padding: 0;
        
    }
}

@media only screen and (min-width: 961px) {
    article {
        display: flex;
        align-items: flex-start;
        padding: 1rem;
        font-size: 1em;
        max-width: 1000px;
    }

    .kai-me {
        max-width: 30%;
        padding: 1rem;
    }

    .gifs {
        max-width: 40%;
        padding: none;
    }
    div {
        min
    }
}