* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: bold 20px Mulish, arial, helvetica;
}

.header-links {
    margin-right: 0.5rem;
}


.home-logo {
    display: flex;
    justify-self: flex-start;
    margin: 0 0.8rem;
    color: #3185fc;
}

header, .copyright {
    background-color:;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
}

a {
    padding: 0.2rem;
    text-decoration: none;
    color: #1b998b;
}

section {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 0rem 1rem;
    background-color: white;
}
.welcome {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    padding: 2rem 0.5rem;
    color: #f9dc5c;
    font: bold 3em Roboto, arial, helvetica;
    text-shadow: 2rem;
    
}
.box1 {
    display: flex;
}
footer {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    font: bold 20px Roboto, arial, helvetica;
}

li {
    margin: 0 1rem
}

.copyright {
    font-size: 0.6em;
    padding: 0 0rem;
    color: #403f4c
}
.thanks {
    font-size: 1em;
    padding-top: 0.4rem;
    width: 16rem;
}

.selfie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    height: 10.7rem;
}

.welcome:hover {
    color: white;
}

.hello {
    position: absolute;
}