* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: bold 20px Roboto, arial, helvetica;;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-links {
    margin-right: 0.5rem;
    padding: 0;
}


.home-logo, .copyright {
    display: flex;
    justify-self: flex-start;
    margin: 0 0.8rem;
    color: #f9dc5c;
}

header, footer{
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em; 
    background-image: linear-gradient(-45deg, #f9dc5c, #1b998b);
    /* background-color: #1b998b; */
}

a {
    text-decoration: none;
    color: black;
    padding: 0 0.3em;
}

section {
    /* height: 28rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
    /* border-top: solid 0.1em #1b998b; */
}

.welcome {
    /* position: sticky; */
    top: 0.2rem;
    left: 0.2rem;
    /* padding: 2rem 1.5rem; */
    color: #f9dc5c;
    font: bold 3em Roboto, arial, helvetica;
    transition: 0.3s;
}

.welcome:hover {
    color: #3185fc;
}

/* .box1 {
    display: flex;
    align-items: center;
} */

footer {
    margin-top: auto;
}

li {
    margin: 0 1rem
}

.copyright {
    font-size: 0.7em;
    background-color: none;
    color: black;
}
.thanks {
    font-size: 1em;
    padding-top: 0.4rem;
    width: 16rem;
}

.selfie {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin: 2rem 0rem; */
    height: 30vh;
}

.hello {
    left: 30rem;

}

nav {
    padding-right: 0.3rem;
    padding-top: 0.3em;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7em;
    height: 3rem;
    padding: 0 0 1rem 0;
    margin-top: 20vh;
}

.contact {
    display: inline-flex;
    font: bold 0.8em;
    padding-bottom: 1.5em;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .welcome {
      font-size: 8rem;
    }
    section {
        align-items: center;
        justify-content:center;
    }
}

/* @media only screen and (min-width: 961px) {
    .welcome {
        font-size: 8rem;
      }
      section {
          align-items: center;
          justify-content:center;
      }
    } */