* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: bold 20px Roboto, arial, helvetica;
}
/* .main {
    
} */

.header-links {
    display: flex;
    align-items: center;
    
    /* justify-content: space-between; */
    color: #F2CC8F;
    
    list-style-type: none;
    margin: 0 3vw;
    font: bold 20px Roboto, arial, helvetica;
}

.home-logo {
    display: flex;
    justify-self: flex-start;
    margin: 0 1rem;
    /* border: #F2CC8F; */
    /* border-style: solid;
    border-width: 0.2rem; */
    font: bold 24px Roboto, arial, helvetica;

}

header {
    background-color: #81B29A;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    
}


section {
    height: 30rem;
}
.welcome {
    margin-top: 7vw;
    margin-left: 3vw;
    color: #3d405b;
    font: bold 20px Roboto, arial, helvetica;
}

footer {
    font: bold 20px Roboto, arial, helvetica;
}

li {
    margin: 0 1rem
}
